---
import Avatar from "./icon/Avatar.astro";
import Calender from "./icon/Calender.astro";
import Folder from "./icon/Folder.astro";
import Comment from "./icon/Comment.astro";
import Mail from "./icon/Mail.astro";
import './style.css'

interface Props {
  title: string;
  author: string;
  datacreate: string;
  category: string;
  comment: string;
  linkimg: string;
  content: string;
  linkdetail: string;
  bottoncontent:string;
  location:string;
  admin:string;
  profile:string;
  commentRelated:any
}

const {
  title,
  author,
  datacreate,
  category,
  comment,
  linkimg,
  content,
  linkdetail,
  bottoncontent,
  location, 
  admin,
  profile
} = Astro.props;
---

<div class="card">
  <div class="headertitle" set:html={title}>{title}</div>
  <div class="boxicon">
    <div class="icon"><Avatar /><p>{author}</p></div>
    <div class="icon"><Calender /><p>{datacreate}</p></div>
    <div class="icon"><Folder /> <p>{category}</p></div>
    <div class="icon"><Comment /><p>{comment}</p></div>
  </div>
  <div class="mobile">
        <div class="icon"><Avatar /><p>{author}</p></div>
        <div class="icon"><Calender /><p>{datacreate}</p></div>
        
        
    </div>
  <div class="bottom">
    <!-- <div class="image">
      <img src={'/11.png'} alt="imagesizeproduct" />
    </div> -->
    <div class="content">
      <p set:html={content}>{content}</p>
      <!-- <a href={linkdetail}>
        <button>Read more</button>
      </a> -->
    </div>
  </div>
   <div>{bottoncontent}</div>
  <div class="commentbox">
    <div>
      <Mail />
    </div>
    <div >
      Location: <span style={{color:'var(--lotus-pink)'}}>{location}</span>
    </div>
    <div class="author">
      
          <img src='/avatar.png' alt="avtar" style={{borderRadius:0}}/>
       
       <div class="profile">
          <p >{admin}</p>
          <span set:html={profile}>{profile}</span>
       </div>
    </div>
  </div>
</div>

<style is:global>
  .commentbox > .author > img{
    width: 50px;
    height: 50px;
    object-fit: fill;
    border-radius: 0;
    float: left;
    margin-right: 16px;
  }
  .commentbox > .author > .avatar{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .commentbox > .author{
    /* display: flex;
    justify-content: flex-start;
    align-items: center; */
    padding: 8px;
    background-color: #8080800f;
    border: 1px solid #eee;
    margin-top: 8px;
  }
   .commentbox > .author > .profile{
    font-size: 15px;
    line-height: 28px;
   
   }
   .commentbox > .author > .profile > p{
    margin: 0;
    color: var(--lotus-pink);
    text-transform: capitalize;
   }
   .commentbox > .author > .profile >span{
    max-width: 520px;
    overflow: hidden;
    
   }
  .commentbox{
    font-size: 16px;
    color: gray;
    
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 8px;
  }
  .image {
    width: 28%;
    height: 100%;
    margin-bottom: auto;
  }
  .image > img {
    width: 100%;
    height: 110px;
    object-fit: fill;
    border-radius: 0;
    margin-bottom: 0;
    border-radius: 4px;
  }
  .content {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-bottom: auto;
    margin-top: 16px;
  }
  .content > p {
    overflow: hidden;
    /* height: 110px; */
    font-size: 16px;
    margin: 0;
    color: gray;
  }
  .content > h2{
    font-size: 30px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 12px 0
  }
  a > button {
    margin: 8px 0 8px auto;
    background-color: #f15123c7;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  .card > .headertitle {
    margin: 8px;
    font-weight: 400;
    font-size: 32px;
    overflow: hidden;
    /* display: -webkit-box; */
    -webkit-line-clamp: 2;
    /* -webkit-box-orient: vertical; */
    width: 700px;
    line-height: 40px;
    text-transform: uppercase;
  }
  .card {
    border: 0.25px solid #8080801a;
    padding: 16px 40px;
    border-radius: 5px;
    background-color: white;
    margin-top: 32px;
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 8px;
    cursor: pointer;
  }
  .icon :hover p {
    color: blue;
  }
  .icon > p {
    font-size: 16px;
    margin: 0 4px;
    color: var(--lotus-pink);
    padding-top: 4px;
  }
  .icon > svg {
    margin: auto 0;
  }
  .boxicon {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  a {
    margin: 8px 0 8px auto;
    color: gray;
  }

   .card > .mobile{
        display: none;
    }
    @media (max-width: 720px) {
        .card > .mobile{
            display: flex;
        }
        .card > .boxicon{
            display: none;
        }
        .card > .bottom > .image{
            width: 100%;
        }
         .card > .bottom > .content{
            width: 100%;
            padding: 0 4px;
         }
         .card{
            padding: 8px 16px
         }

    }
     @media (max-width: 890px) {
      .card{
        margin-top: 42px;
        margin-bottom: 36px;
      }
     }
</style>
