---
import Avatar from './icon/Avatar.astro'
import Calender from './icon/Calender.astro'
import Folder from './icon/Folder.astro'
import Comment from './icon/Comment.astro'
import './style.css'

interface Props{
    title:string;
    author: string;
    datacreate: string;
    category:string;
    comment:string;
    linkimg:string;
    content:string;
    linkdetail:string

}

const {title,author,datacreate,category,comment,linkimg,content,linkdetail} = Astro.props
---

<div class="card">
    <div class="headertitle" > <a set:html={title} href={linkdetail} target="_blank">{title}</a></div>
    <div class="boxicon">
        <div class="icon"><Avatar /><p>{author}</p></div>
        <div class="icon"><Calender /><p>{datacreate}</p></div>
        <div class="icon"><Folder /> <p>{category}</p></div>
        <div class="icon"><Comment /><p>{comment}</p></div>
        
    </div>
    <div class="mobile">
        <div class="icon"><Avatar /><p>{author}</p></div>
        <div class="icon"><Calender /><p>{datacreate}</p></div>
        
        
    </div>
    <div class="bottom">
        <div class="image">
            <a href={linkdetail} target="_blank">
                <img  src={linkimg} alt="imageproduct"/>
            </a>
        </div>
        <div class="content">
            <p set:html={content}>{content}</p>
            <a href={linkdetail}>
                <button>Read more</button>
            </a>
        </div>
    </div>
</div>

<style is:global>
    .bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 16px 8px;
    }
    .bottom >.image{
        width: 210px;
        height:161px;
       margin-bottom: auto;
       overflow: hidden;
         border-radius: 4px;
       
    }
    .bottom .image :hover img{
                transform: scale(1.05);
                transition: transform 0.5s;
                border-radius: 4px;
    }
    .image > a > img{
        width: 100%;
        height: 161px;
        object-fit: fill;
        border-radius: 0;
        margin-bottom: 0;
        border-radius: 4px;
        transition: 0.5s ease-in-out;
    }
    .content{
        width: 70%;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        margin-bottom: auto;
    }
    .content > p{
       
        overflow: hidden;
        height:110px;
        font-size: 16px;
        margin: 0;
        color: gray;
    }
    a > button{
        margin: 8px 0 8px auto;
        background-color: #f15123c7;
        color:white;
        border: none;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
    }
    .card >.headertitle{
        margin: 8px;
        font-weight: 400;
        font-size: 32px;
          overflow: hidden;
        /* display: -webkit-box; */
        -webkit-line-clamp: 2;
        /* -webkit-box-orient: vertical; */
        width: 700px;
        line-height: 40px;
        
    }
    .headertitle > a{
        text-decoration: none;
        color: inherit;
    }
    .card{
        border: 0.25px solid #8080801a;
        padding: 16px;
        border-radius: 5px;
        background-color: white;
        margin-top: 32px;
    }
    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto 8px;
        cursor: pointer;
        
    }
    .icon :hover p{
    
            color: blue
        
    }
    .icon > p{
            font-size: 16px;
            margin: 0 4px;
            color: var(--lotus-pink);
            padding-top: 4px
    }
    .icon > svg{
        margin: auto 0;
    }
    .boxicon{
        display: flex;
        justify-content: start;
        align-items: center;
    }
    a {
          margin: 8px 0 8px auto;
    }
    .card > .mobile{
        display: none;
    }
    @media (max-width: 720px) {
        .card > .mobile{
            display: flex;
        }
        .card > .boxicon{
            display: none;
        }
        .card > .bottom > .image{
            width: 100%;
            
        }
         .card > .bottom > .content{
            width: 100%;
            padding: 0 4px;
         }
         .card{
            padding: 8px 16px
         }
         

    }
</style>