---
// import type { CollectionEntry } from "astro:content";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import BaseHead from "./BaseHead.astro";
import './style.css'

// type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---
<html lang="en">

    <head>
    <BaseHead  title={title} description={description} />
    </head>
    <body>
        <Header />
            <main style={{width:'100%'}}>
                <div class="mainlayout"><slot /></div>
            </main>   
        <Footer />
    </body>
    


</html>
<style is:global>
    .mainlayout{
        max-width: 1170px;
        margin: 30px auto auto auto  ;
    }
    main{
        padding: 30px 0;
        /* width: 100%; */
        margin-top: 25px;
    }
    	@media (max-width: 720px) {
            main{
                padding:  0 16px;
            }
        }
</style>
