---
import Layout from "../../layouts/BlogPost.astro";
import CardDetail from "../../layouts/layout-1/CardDetail.astro";
import Container from "../../layouts/layout-1/Container.astro";
import RelatedPost from "../../layouts/layout-1/RelatedPost.astro";
import Search from "../../layouts/layout-1/Search.astro";
import {
  RelatedContent,
  RecentPostContent,
  CategorizeContent,
  PageContent,
  SelectContent,
  CardContent,
} from "../../consts";
import Recentpost from "../../layouts/layout-1/Recentpost.astro";
import Select from "../../layouts/layout-1/Select.astro";
import TextWidget from "../../layouts/layout-1/TextWidget.astro";
import './style.css'

interface Props{
    title:{
      rendered:string
    };
    author: string;
    date: string;
    format:string;
    comment_status:string;
    yoast_head_json:{
        og_image:{
          url:string
        }[];
        og_locale:string,
        author:string,
        og_title:string,
        schema?:any
    };
    content:{
      rendered:string
    };
    linkdetail:string;
    bottoncontent: string

}
let response = await fetch(
    "https://vina-blog.vivuninhbinh.com/wp-json/wp/v2/posts"
  );
  let datahome = await response.json();


    const data = Astro.props
   
  
    
---

<Container
 
  title={data.title.rendered}
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
>
  <div class="mainboard">
    <div class="leftside">
      {

            <CardDetail
              title={data.title.rendered}
              author={data.author}
              datacreate={data.date}
              category={data?.format}
              comment={data?.comment_status}
              linkimg={data?.yoast_head_json?.og_image[0].url}
              content={data?.content?.rendered}
              linkdetail={data?.linkdetail}
              bottoncontent={data?.bottoncontent}
              location={data?.yoast_head_json?.og_locale}
              admin={data?.yoast_head_json?.author}
              profile={data?.yoast_head_json?.og_title}
              commentRelated={data?.yoast_head_json?.schema}
            />
         
      }
   
    </div>
    <div class="rightside">
      <Search />
      <RelatedPost data={datahome.slice(0,2)} />
      <Recentpost data={RecentPostContent} />
      <Recentpost data={CategorizeContent} />
      <Recentpost data={PageContent} />
      <TextWidget />
      <Select data={SelectContent} />
    </div>
  </div>
</Container>

<style is:global>
  .mainboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .leftside {
    width: 68%;
    margin-bottom: auto;
  }
  .rightside {
    width: 30%;
    margin-bottom: auto;
  }
  .leftside > .buttonbottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 32px;
  }
  .leftside > .buttonbottom > button {
    background-color: var(--lotus-pink);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px;
    min-width: 85px;
    margin: auto 8px;
  }

  @media (max-width: 720px) {
		.card > .headertitle{
			width: 100%;
			font-size: 26px;
		}
		.card > .bottom {
			display: block
		};
		
	}
	@media (max-width: 890px) {
		.rightside{
			display: none;
		}
		.leftside{
			width: 100%;
		}
		.card > .bottom > .image > img{
			object-fit: contain;
		}
	}
	@media (min-width: 890px) and (max-width: 1151px) {
		.rightside{
			display: none;
		}
		.mainboard > .leftside >.tablet{
			display: flex;
		}
		.leftside{
			width: 100%;
		}
		.mainboard{
			margin: auto 32px;
		}

	}
</style>
