---
import { FooterDetail } from "../../consts";
import './style.css'
interface Props{
	title?: string;
	content1?:string;
	content2?:string;
	content3?:string;
	content4?:string;
}

---

<footer>
	<div class="box">
	{FooterDetail && FooterDetail?.map((item:Props)=>(
	<div class="footerbox">
		<div set:html={item?.title} style={{color:'white'}}>{item?.title}</div>
		<div>{item?.content1}</div>
		<div>{item?.content2}</div>
		<div>{item?.content3}</div>
		<div>{item?.content4}</div>
	</div>
	))}
	</div>
	<div class="hr"/>

	<div class="privacy" >
		<div >Privacy Policy</div>
		<div>Terms of Service</div>
	</div>
</footer>
<style is:global>
	.privacy{
		display: flex;
		color: var(--lotus-pink);
		font-style: italic;
		font-size: 14px;
		
	}
	.privacy >div{
		margin: 0 8px;
		cursor: pointer;
	}
	.privacy >div:hover{
		color: white;
	}
	.box{
		display: flex;
		justify-content: space-between;
		align-items: start;

	}
	.hr{
		width: 80%;
		height: 1px;
		background-color: white;
		margin: 24px auto;
		
		
	}
	footer {
		padding: 4em 3em 4em 3em;
		background: #333;
		color: gray;
		text-align: center;
		font-size: 16px;
		line-height: 40px;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
	.footerbox{
		justify-content: start;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		text-align: left;
	}
	.footerbox > div{
		padding: 0 8px;
	}
	@media (max-width: 720px) {
	.box {
		display: block;
	}
	footer{
		padding: 2em 1em;
	}
	}
</style>
