---
import HeaderLink from './HeaderLink.astro';
import { HeaderTite } from '../../consts';
import Menu from './icon/Menu.astro';
import Menumobile from './Menumobile.astro';
import './style.css'

	
---



<header >
	<nav class="navbar">
		<!-- <h2><a href="/">{SITE_TITLE}</a></h2> -->
		{HeaderTite && HeaderTite?.map((item)=>(
		<div class="internal-links" >
			<HeaderLink href={item?.Link}>{item?.title}</HeaderLink>
		</div>
		))}
	
			
		
	</nav>
	
	<div class="tablet">
		{HeaderTite && HeaderTite.slice(0,6)?.map((item)=>(
		<div class="internal-links" >
			<HeaderLink href={item?.Link}>{item?.title}</HeaderLink>
		</div>
		))}
		
	</div>
	<div class="mobile">
		<div class="internal-links" >
			<HeaderLink href={HeaderTite[0]?.Link}>{HeaderTite[0]?.title}</HeaderLink>
		</div>
		<div class="menuicon">
			<Menu />
		</div>
	</div>
	<div id="mobilemenu" style={{display:'none'}}><Menumobile data={HeaderTite} /></div>
</header>

<script>
	
	const menubutton = document.querySelectorAll('div.menuicon')
	let listmobilemenu = document.getElementById('mobilemenu')
	
	menubutton.forEach((button) => {
		button.addEventListener('click', () => {
			
			if(  listmobilemenu && listmobilemenu!== null){
				if(listmobilemenu.style.display === 'none'){
					listmobilemenu.style.display = 'block'
				}else{
					listmobilemenu.style.display = 'none'
				}
				
			}
		
		});
  	});
</script>

<style is:global>

	#mobilemenu{
		position: fixed;
		right: 0;
		background-color: #ffffff4d;
		color: black;
		width: calc(100%);
		height: 100%;
		z-index: 100;
		
	}
	header {
		margin: 0;
		/* padding: 8px 0; */
		background: rgb(221, 85, 85);;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		color: white;
		font-size: 16px;
		/* position: fixed; */
		top: 0;
		z-index: 99;
		width: 100%;
	}
	header > .tablet{
		display: none;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 80px;
		
	}
	nav a {
		/* padding: 1em 0em; */
		color: var(--black);
		/* border-bottom: 4px solid transparent; */
		text-decoration: none;
		margin: 16px auto;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	.internal-links{
		
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 32px;
	}
	.mobile{
		display: none;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
		.internal-links{
			width: 50px;
			
		}
		.mobile{
			padding:0 20px
		}
		
	}
	@media (max-width: 890px) {
		header > .mobile{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding:  0 28px;
		}
		.internal-links{
			width: 50px;
			
		}
		header > .tablet{
			display: none;
		}
		header > nav{
			display: none;
		}
		header > .mobile > .internal-links > a{
				padding: 1em 0em;
		color: var(--black);
		/* border-bottom: 4px solid transparent; */
		text-decoration: none;
		margin: auto auto auto 0;
		}
	}
	
	@media (min-width: 890px) and (max-width: 1151px) {
		.social-links {
			display: none;
		}
		header > nav{
			display: none;

		}
		header > .tablet{
		display: flex;
		justify-content: space-between;
		margin: 16px;

		}
		header > .tablet > .internal-links > a{
				padding: 1em 0em;
		color: var(--black);
		/* border-bottom: 4px solid transparent; */
		text-decoration: none;
		margin: auto ;
		}
		
	}
	@media (min-width: 1451px) {
		nav{
			margin: auto;
			max-width: 1451px;
		}
		header{
			background-color: #f5f5f5;
			box-shadow: none;
		}
		nav{
			background-color: rgb(221, 85, 85);
			box-shadow: 0 2px 8px rgba(var(--black), 5%);
		}
	}
	
</style>
