---
import {RelatedContent,RecentPostContent,CategorizeContent,PageContent,SelectContent,CardContent} from '../../consts'
import Card from './Card.astro';
import Container from './Container.astro';
import Recentpost from './Recentpost.astro';
import RelatedPost from './RelatedPost.astro';
import Search from './Search.astro';
import Select from './Select.astro';
import TextWidget from './TextWidget.astro';
import './style.css'



let response = await fetch(
    "https://vina-blog.vivuninhbinh.com/wp-json/wp/v2/posts"
  );
  let datahome = await response.json();

const data = Astro.props;



---


<Container title="Home Page"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}>
	<div class="mainboard">
		<div class="leftside">
			<div class="tablet">	
				<Search />
			</div>
			{datahome && datahome.slice(typeof data.page !=='undefined' ?data.page.index-6: 0,typeof data.page!=='undefined'? data.page.index : 6).map((item:any)=>(
		<Card 
			title={item?.title?.rendered} 
			author={item.author} 
			datacreate={item.date} 
			category={item?.format} 
			comment={item?.comment_status} 
			linkimg={item?.yoast_head_json.og_image[0].url} 
			content={item?.excerpt.rendered}
			linkdetail={`/blog/${item?.id}`}
			 /> 
			 ))}
		
			<div class="buttonbottom">
				<button class="panigation"><a href="/layout-1">Home</a></button>
				
				<button class="panigation">
					<a href=`/${typeof data.page !=='undefined' ? data.page.page:'2'}`>Older Post</a>
				</button>
				
			</div>
		</div>
		<div class="rightside">
			<Search />
			<RelatedPost data={datahome?.slice(0,2)} />
			<Recentpost data={RecentPostContent} />
			<Recentpost data={CategorizeContent} />
			<Recentpost data={PageContent} />
			<TextWidget />
			<Select data={SelectContent} />
		</div>
	</div>
	
</Container>

