---
import Home from './icon/Home.astro';
import Bag from './icon/Bag.astro';
import Download from './icon/Download.astro';
import Category from './icon/Category.astro';
import Featured from './Featured.astro';
import Health from './icon/Health.astro';
import Zip from './Zip.astro';
import './style.css'

interface Props{
    data:{
        Link:string;
        title:string;
        icon:number;
    }[]
}

const {data} = Astro.props


---


<div class="listmenu">
    {data && data?.map(item=>{
        switch (item.icon) {
        case 0:
            return 
              <div>
                    <Home />
                 <p>{item?.title}</p>
              </div>;
            
        case 1 :
            return  <div>
                        <Bag />
                       <p>{item?.title}</p>
                    </div>;
        case 2: 
            return <div>
                        <Download />
                       <p>{item?.title}</p>
                    </div>;
        case 3: 
         return <div>
                    <Category />
                  <p>{item?.title}</p>
                </div>;
        case 4: 
         return <div>
                   <Featured />
                   <p>{item?.title}</p>
                </div>;
        case 5: 
         return <div>
                    <Health />
                   <p>{item?.title}</p>
                </div>;
        case 6: 
         return <div>
                    <Zip />
                    <p>{item?.title}</p>
                </div>;
        default:
            return <div>
                    <Zip />
                    <p>{item?.title}</p>
                </div>;
          
    }
      
    })}
</div>



<style is:global>
    .listmenu{
        background-color: white;
        width: calc(95%);
        z-index: 11;
        height: 100%;
        margin-left: auto;
        color: rgb(41, 151, 171);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 100px;
    }
    .listmenu > div{
        margin: 10px 15%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
    }
     .listmenu > div > p{
        padding: 8px 0 0 0 ;
        margin: 0 24px;
     
     }
       .listmenu > div > svg{
        width: 24px;
        height: 24px
       }
</style>