---
import './style.css'
interface Props{
    data:{
        title:string;
        quantity?:number;
        category?:boolean;
        page?:boolean;
    }[]
    
}

const {data} = Astro.props
---


<div class="recentpost">
    {!data[0].category ? (
    <p>Recent Posts</p>
    ):data[0].page ?(<p>Categories</p>) :( <p>Categories</p>)}
    {data && data?.map(item=>(
    <div class="titlepost">{item?.title}
        {item?.category &&<span style={{color:'gray'}}>( {item?.quantity})</span>}
        </div>))}
</div>

<style>
    .recentpost{
        padding: 32px 16px;
        background-color: white;
        margin-top: 48px;
    }
    .recentpost > p{
        font-size: 26px;
        margin: 0;
        font-weight: 600;
        color:#000000bd;
    }
    .recentpost > .titlepost{
         font-size: 16px;
        margin: 8px 0;
        font-weight: 400;
        color:var(--lotus-pink);
        cursor: pointer;
    }
    .titlepost:hover{
        color: black;
     }
</style>