---
import './style.css'
const {data} = Astro.props

---




   
    <div class="relatedpost">
        <p class="title">Popular Posts</p>
     {data?.map((item:any)=>(
        <div style={{margin:'24px 0'}}>
            <div class="toprelated">
             
                <div class="image">  
                    <a href={`blog/${item?.id}`} target="_blank">
                        <img src={item?.yoast_head_json?.og_image[0]?.url} alt="imageproduct">
                    </a>
                </div>
                <div class="content" >  <a href={`blog/${item?.id}`} set:html={item?.title?.rendered} target="_blank">{item?.title?.rendered}</a></div>
            </div>
            <div class="bottomrelated" set:html={item?.excerpt?.rendered}>{item?.excerpt?.rendered}</div>
        </div>
        ))}
    </div>
    


<style>
    .relatedpost{
        padding:32px 16px;
        background-color: white;
        margin: 48px 0;
    }
    .relatedpost > .title{
        font-size: 26px;
        margin: 0;
        font-weight: 600;
        color:#000000bd
    }
    .toprelated{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        color: var(--lotus-pink)
    }
    .toprelated > .image > a >img{
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 0;
        cursor: pointer;
        border-radius: 4px;
         float: left;
       
    }
    .toprelated > .image{
        width: 28%;
        display: flex;
        justify-content: center;
        align-items: center;
       
         

    }
    .toprelated > .content{
        width: 70%;
        margin-bottom: auto;
        cursor: pointer;
        margin-top: 0;

    }
     .toprelated > .content > a{
        text-decoration: none;
        color: inherit;
        margin: 2px auto;
     }
    .bottomrelated{
        font-size: 16px;
        color: gray;
    }
    .content:hover{
        color: black;
    }
</style>