---
import './style.css'
---

<div class="search">
    <input type="text" aria-labelledby="search" placeholder="search"/>
    <button>SEARCH</button>
</div>

<style>
    .search{
        padding: 8px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 35px;
        border-radius: 5px;
    }
    .search > input{
        margin: auto ;
        box-shadow: inset 0px 0px 2px 1px #80808070;
        border:none;
        min-height: 49px;
        padding: 0px 8px 0 8px;
        border-radius: 5px;
    }
     .search > input::placeholder{
          padding: 0px 8px 0 8px;
     }
    .search > button{
        border:none;
        background-color: var(--lotus-pink);
        color:white;
        padding: 16px 18px;
        border-radius: 5px;
        margin:auto 8px;
    }
</style>