---
import './style.css'
interface Props{
    data:{
        title:string;
        number:number
    }[]
}

const {data} = Astro.props
---

<div class="BlogArchire">
    <p>Blog Archive</p>
   <div class="list">
    <select>
        { data && data?.map((item)=>(
        <option>{item.title}<span>({item.number})</span></option>
        ))}
    </select>
    </div>
</div>

<style>
    .BlogArchire > .list > select{
        width: 100%;
        height: 45px;
        padding: 8px ;
        border: 0.15px solid gray;
        border-radius: 5px;
        background-color: white;
        box-shadow: inset 0px 1px 3px 1px gray;
        margin: 12px 0;
    }
    .BlogArchire >.list{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .BlogArchire{
        background-color: white;
        padding: 16px ;
        margin-top: 32px;
    }
    .BlogArchire > p{
        font-size: 26px;
        margin: 12px 0
    }
</style>