.mainboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainboard > .leftside > .tablet {
  display: none;
}

.leftside {
  width: 68%;
  margin-bottom: auto;
}
.rightside {
  width: 30%;
  margin-bottom: auto;
}
.leftside > .buttonbottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 32px;
}
.leftside > .buttonbottom > button {
  background-color: var(--lotus-pink);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px;
  min-width: 85px;
  margin: auto 8px;
  cursor: pointer;
}
.panigation a {
  text-decoration: none;
  color: white;
}
@media (max-width: 720px) {
  .box {
    display: block;
  }

  .card > .headertitle {
    width: 100%;
    font-size: 26px;
  }
  .card > .bottom {
    display: block;
  }
}
@media (max-width: 890px) {
  .rightside {
    display: none;
  }
  .leftside {
    width: 100%;
  }
  .card > .bottom > .image > img {
    object-fit: contain;
  }
}
@media (min-width: 890px) and (max-width: 1151px) {
  .rightside {
    display: none;
  }
  .mainboard > .leftside > .tablet {
    display: flex;
  }
  .leftside {
    width: 100%;
  }
  .mainboard {
    margin: auto 32px;
  }
}
