---
import './style.css'
---

<div class="textwidget">
    <p class="title">Text Widget</p>
    <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>

<style>
    .textwidget{
        margin-top: 32px;
        background-color: white;
        padding: 16px;
    }
    .textwidget > .title{
        font-size: 26px;
    }
    .textwidget > .content{
        font-size: 16px;
        color: gray;
    }
</style>