---
import Header from "./Header.astro";
import IconLocation from "./icon/IconLocation.astro";
import OpenTime from "./icon/OpenTime.astro";
import Sidebar from "./Sidebar.astro";
import NextIcon from "./icon/NextIcon.astro";
import PhoneIcon from "./icon/PhoneIcon.astro";
import "./style2.css";
import Mail from "../layout-1/icon/Mail.astro";

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css?family=Rokkitt:400,700%7CMontserrat:400,700&subset=latin,latin-ext"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <title>Detail</title>
    <meta name="description" content="Lorem ipsum dolor sit amet" />
    <link rel="canonical" href={Astro.url.origin} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Detail Page" />
    <meta property="og:description" content="Lorem ipsum dolor sit amet" />
    <meta property="og:url" content={Astro.url.origin} />
    <meta property="og:site_name" content="Detail Page" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="500" />
    <meta property="og:image:type" content="image/png" />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body>
    <div class="site-containernbt" style={{ backgroundColor: "white" }}>
      <Header />
      <div class="site-innernbt">
        <div class="content-sidebar-wrapnbt">
            <div class="contact">
                <h4>HỖ TRỢ TẠI VĂN PHÒNG</h4>
                <div class="locationplace">
                    <p style={{marginTop:'16px'}}>Đà Nẵng </p>
                    <div><IconLocation /><p>104 Núi Thành, Đà Nẵng.</p></div>
                    <div><OpenTime /><p>8h30 - 18h từ thứ 2 - thứ 6</p></div>

                    <p style={{marginTop:'16px'}}>Dịch vụ hỗ trợ</p>
                    <div class="boxservice">
                        <div class="servicebox">
                          <p>Xuất bản phần mềm</p>
                          <NextIcon />
                        </div>
                        <div class="servicebox">
                          <p>
                            Kiểm tra và phân tích kỹ thuật
                          </p>
                          <NextIcon />
                        </div>
                        <div class="servicebox">
                          <p>
                            Cổng thông tin
                          </p>
                          <NextIcon />
                        </div>
                      
                      </div>
                         <p style={{marginTop:'16px'}}>Liên hệ</p>
                       <div class="boxservice">
                          <div class="servicebox pathicon">
                            <Mail />
                            <p>@Meta-technology.com.vn</p>
                          </div>
                            <div class="servicebox pathicon">
                              <PhoneIcon />
                            <p>090 5880955</p>
                          </div>
                       </div>
                </div>
            </div>
        </div>
        <Sidebar />
      </div>
    </div>
   <footer class='text-center py-[10px] border-t'>
      &copy; {new Date().getFullYear()} Created By <span class='text-[#040000] font-bold'>META</span>
    <!-- <Footer /> -->
    </footer>
  </body>
</html>
