---
import MenuIcon from "./icon/MenuIcon.astro";
const { origin, pathname } = Astro.url

const list = [{link:'/', title:'Home'},{link:'/policy', title:'Privacy Policy'},{link:'/service', title:'Terms of Service'},{link:'/contactus',title:'Contact Us'}]

---

<header class='site-headernbt'>
  <div class='wrapnbt'>
    <div class='title-areanbt'>
      <div class='headersec section' id='headersec'>
        <div class='widget Header' data-version='1' id='Header1'>
          <div id='header-inner'>
            <div class='titlewrapper'>
              <h1 class='site-titlenbt'>
                <a   style={{color:'#203656'}} href={'/'}><img src="/logo1.png" /></a>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='widget-areanbt'>
      <nav class='nav-headernbt' role='navigation'>
        <ul class='thefunk-nav-menunbt thefunk-head-navnbt'>
          {list.map((item:any)=>(
          <li><a class:list={[ { active: item.link === pathname ? 'active' : '' }]} href={item?.link}>{item?.title}</a></li>
          ))}
          <!-- <li>
            <a  href={`${origin}/privacy-policy`}>Privacy Policy</a>
          </li>
          <li><a href={`${origin}/terms-of-service`}>Terms of Service</a></li>
          <li><a href={`${origin}/contact-us`}>Contact Us</a></li> -->
        </ul>
      </nav>
    </div>
    <div class="menuicon" id="icon1"><MenuIcon /></div>
     <div class="mobileicon" id="icon2"><MenuIcon /></div>
  </div>
  <div class="MenuMobile" id="layout2menu" >
    <div class="inside" >
        {list.map((item:any)=>(
      <div><a href={item?.link}>{item?.title}</a></div>
        ))}
      
    </div>
  </div>
</header>


<script>
	
	const menubutton = document.querySelectorAll('div.menuicon')
  const menumobilebutton = document.querySelectorAll('div.mobileicon')
	let listmobilemenu = document.getElementById('layout2menu')
  let icon1 = document.getElementById('icon1')
  let icon2 = document.getElementById('icon2')
	
	menubutton.forEach((button) => {
		button.addEventListener('click', () => {
			
			if(  listmobilemenu && listmobilemenu!== null){
				listmobilemenu.style.transform = 'translateX(0)';		
			}
      	if(  icon1 && icon1!== null){
				icon1.style.display = 'none'			
			}
      if(  icon2 && icon2!== null){
				icon2.style.display = 'flex'			
			}
		
		});
  	});

    	menumobilebutton.forEach((button) => {
		button.addEventListener('click', () => {
			
			if(  listmobilemenu && listmobilemenu!== null){
					listmobilemenu.style.transform = 'translateX(100%)'	
			}
      	if(  icon1 && icon1!== null){
				icon1.style.display = 'flex'			
			}
      if(  icon2 && icon2!== null){
				icon2.style.display = 'none'			
			}
		
		});
  	});
</script>

<style>
  nav a.active  {
	color: #203656 !important;
  font-weight: 600;
  

	}
</style>
