---
import { getAds, getAllPathOfCategory } from "../../core";
import Header from "./Header.astro";
import Sidebar from "./Sidebar.astro";
import "./style2.css";
import Post from './Post'
import List from "./List.astro";
import PostItem from "./PostItem.astro";
import { ListPost } from "../../../wp-content/data";

interface Props {
  json: IPost[] | IPost;
  notFound: string;
  
}
const { json, notFound } = Astro.props;
const {pathname} = Astro.url
let description: string = "";
let title = Astro.url.hostname.toUpperCase();
const isList = Array.isArray(json);
const ads = await getAds(Astro.url.hostname);



if (isList) {
  if (json[0]) {
    description = json[0].excerpt;
  }
} else {
  if (json) {
    description = json.excerpt;
    title = json.title;
  }
}
const Format = (date:number)=>{
  const datetime = new Date(1000*date)
  
  
  return datetime.toLocaleDateString('en-us', {
			month: 'short',
			day: 'numeric',
      hour:'numeric'
		})
}

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css?family=Rokkitt:400,700%7CMontserrat:400,700&subset=latin,latin-ext"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={Astro.url.origin} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.url.origin} />
    <meta property="og:site_name" content={title} />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="500" />
    <meta property="og:image:type" content="image/png" />
    <meta name="twitter:card" content="summary_large_image" />
    <div style="ads">
    {
      ads && ads?.pid && (
        <script
          async=""
          src={`https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-${ads?.pid}`}
          crossorigin="anonymous"
          data-checked-head="true"
        />
      )
    }
    </div>
  </head>
  <body>
    <div class="site-containernbt" style={{ backgroundColor: "white" }}>
      <Header />
      <div class="site-innernbt">
        <div class="content-sidebar-wrapnbt">
           {
            isList && json?.length > 2 ? (
              <List json={json} ads={ads} />
            ) : (
              <PostItem json={json} ads={ads}
            />  
            )
          }
          {pathname ==='/' && (
        <Post client:only />
        )}
        </div>
        <Sidebar ads={ads} />
      </div>
    </div>
    <footer class="text-center py-[10px] border-t">
      &copy; {new Date().getFullYear()} Created By <span
        class="text-[#040000] font-bold">META</span
      >
    </footer>
  </body>
</html>
