---


const { json, ads } = Astro.props

const Format = (date:number)=>{
  const datetime = new Date(1000*date)
  
  
  return datetime.toLocaleDateString('en-us', {
			month: 'short',
			day: 'numeric',
      hour:'numeric'
		})
}

---
{
json && json.map((item:any) => (
<div class="Allpost">
  <div class="rightside">
    <div class="image">
      <img alt="avatar" src="/avatar.png" />
      <div class="info">
        <span>{item?.category}</span>
        <div class="dot"></div>
        <span>{Format(item?.createdAt)}</span>
      </div>
    </div>
    <div class="title">
      <a href={`/${item?.slug}`}>
        <p set:html={item?.title} />
      </a>
      <span set:html={item?.excerpt} />
    </div>
  </div>
</div>
))}
{
      ads?.pid && ads?.unit && ads?.unit["horizontal1"] && (
        <div class="post-outer post-google-ads">
          <script
            async
            src={`https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-${ads?.pid}`}
            crossorigin="anonymous"
          />
          <ins
            class="adsbygoogle"
            style="display:block"
            data-ad-client={`ca-${ads?.pid}`}
            data-ad-slot={ads?.unit["horizontal1"]}
            data-ad-format="auto"
            data-full-width-responsive="true"
          />
          <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
      )
    }