---
import Avatar from '../layout-2/icon/Avatar.astro';
import Calender from '../layout-1/icon/Calender.astro';
import Comment from '../layout-1/icon/Comment.astro';
import Folder from '../layout-1/icon/Folder.astro';
import Mail from '../layout-1/icon/Mail.astro';
import './style2.css'


const { json, ads } = Astro.props

const Format = (date:number)=>{
  const datetime = new Date(1000*date)
  
  
  return datetime.toLocaleDateString('en-us', {
			month: 'short',
			day: 'numeric',
      hour:'numeric'
		})
}


---

<div class="detailPost">
  <div class="headertitle" set:html={json[0]?.title} />
  <div class="boxicon">
    <div class="icon"><Folder /> <p>{json[0]?.category}</p></div>
    <div class="icon"><Calender /><p>{Format(json[0]?.createdAt)}</p></div>
    <div class="icon"><Comment /><p>{json?.id}</p></div>
  </div>
  <div class="mobile">
        <div class="icon"><Avatar /><p>{json[0]?.id}</p></div>
        <div class="icon"><Calender /><p>{Format(json[0]?.createdAt)}</p></div>
        
        
    </div>
  <div class="bottom">
    <div class="content">
      <p set:html={json[0]?.content} />
    </div>
  </div>
   <div>{json[0]?.excerpt}</div>
  <div class="commentbox">
    <div>
      <Mail />
    </div>
    <div >
      Location: <span style={{color:'var(--lotus-pink)'}}>{json[0]?.category}</span>
    </div>
    <div class="author">
      
          <img src='/avatar.png' alt="avtar" style={{borderRadius:0}}/>
       
       <div class="profile">
          <p >{'admin'}</p>
          <span set:html={json[0]?.title} />
       </div>
    </div>
  </div>
  <div class="ads">
   {ads?.unit["multiplex1"] && (
                <>
                  <script
                    async
                    src={`https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-${ads.pid}`}
                    crossorigin="anonymous"
                  />
                  <ins
                    class="adsbygoogle"
                    style="display:block"
                    data-ad-client={`ca-${ads?.pid}`}
                    data-ad-slot={ads?.unit["multiplex1"]}
                    data-ad-format="autorelaxed"
                    data-full-width-responsive="true"
                  />
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </>
              )}
  </div>
</div>
