---
import { ListCategory, ListPost } from '../../../wp-content/data';
import { getCategories, getRecentPosts, getRecommendedPosts } from '../../core';

const [categories, recents, recommended] = await Promise.all([
  getCategories(Astro.url.hostname),
  getRecentPosts(Astro.url.hostname),
  getRecommendedPosts(Astro.url.hostname),
]);

interface Props { ads?: IAds; }
const { ads } = Astro.props;

---

    <!-- SQUARE 1 -->


<div class='sidebarnbt sidebar-primarynbt widget-areanbt'>
  <div class='sidebarrightsc section' id='sidebarrightsc'>
   <div class="ads">
    {
      ads && ads?.unit["square1"] && (
        <div class="widget google-adsense">
          <>
            <script
              async
              src={`https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-${ads?.pid}`}
              crossorigin="anonymous"
            />
            <ins
              class="adsbygoogle"
              style="display:block"
              data-ad-client={`ca-${ads?.pid}`}
              data-ad-slot={ads?.unit["square1"]}
              data-ad-format="auto"
              data-full-width-responsive="true"
            />
          </>
          <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
      )
    }

   </div>
    <div class='widget Label' data-version='1'>
      <h2>Categories</h2>
      <div class='widget-content list-label-widget-content'>
        <ul>
             {ListCategory && ListCategory?.map((item:any)=>(
              <li>
                  <a dir='ltr' href={`/categories/${item?.slug}`} >
                    {item?.name}
                  </a>
              </li>
              ))}
          
          
        </ul>
      </div>
    </div>
    <div class='widget PageList' data-version='1' id='PageList1'>
      <h2>Pages</h2>
      <div class='widget-content'>
        <ul>
          <li>
            <a href={`/policy`}>Privacy Policy</a>
          </li>
          <li><a href={`/service`}>Terms of Service</a></li>
          <li><a href={`/contactus`}>Contact Us</a></li>
        </ul>
      </div>
    </div>
     <div class='widget Label' data-version='1'>
      <h2>Recent Posts</h2>
      <div class='widget-content list-label-widget-content'>
        <ul>
              {ListPost?.slice(0,5)?.map((item:any)=>(
              <li>
                  <a class="recentpost" dir='ltr' href={`/${item?.slug}`} set:html={item?.title} />
              </li>
              ))}
        </ul>
      </div>
    </div>
  </div>

</div>
