---
import { ListCategory, ListPost } from "../../wp-content/data";
import HomePage from "../layouts/layout-1/HomePage.astro";
import Contact from "../layouts/layout-2/Contact.astro";
import Layout from "../layouts/layout-2/Layout.astro";
import Policy from "../layouts/layout-2/Policy.astro";
import TermOfService from "../layouts/layout-2/TermOfService.astro";
import { getDetail, getPosts, getConfigLayout } from "../core";

export async function getStaticPaths() {
  const detailpath  = await getDetail(undefined)
  return [
    {
      params: { layout: "layout-1" },
      props: { layout: "layout-1", index: 6, page: 2 },
    },
    {
      params: { layout: "layout-2" },
      props: { layout: "layout-2", index: 6, page: 2 },
    },
    {
      params: { layout: undefined },
      props: { layout: undefined, index: 6, page: 1 },
    },
    {
      params: { layout: "policy" },
      props: { layout: "policy", index: 6, page: 2 },
    },
    {
      params: { layout: "service" },
      props: { layout: "service", index: 6, page: 2 },
    },
    {
      params: { layout: "contactus" },
      props: { layout: "contactus", index: 6, page: 2 },
    },
    {
      params: { layout: "2" },
      props: { layout: "undefined", index: 6, page: 2 },
    },
    {
      params: { layout: "3" },
      props: { layout: "undefined", index: 6, page: 3 },
    },
    { params: { layout: "1" }, props: { layout: "1", index: 6, page: 1 } },
     { params: { layout: "crypto_investment" }, props: { layout: "crypto_investment",name: "Crypto Investment", } },
     { params: { layout: "trading" }, props: { layout: "trading",    name: "Trading", } },
     { params: { layout: "bitcoin" }, props: { layout: "bitcoin",name: "Bitcoin", } },
     { params: { layout: "technology" }, props: { layout: "technology", name: "Technology", } },
     
    detailpath
 
  ];
  
}
const config = await getConfigLayout(Astro.url.hostname);

const data = Astro.props;
const { pathname, searchParams, hostname } = Astro.url;


const layoutMap: Record<string, any> = {
  "layout-1": HomePage,
  "layout-2": Layout,
  'policy': Policy,
  'service': TermOfService,
  'contactus': Contact,
  'crypto_investment': Layout,
  'trading': Layout,
  'bitcoin': Layout,
  'technology': Layout,

};
const AppLayout = layoutMap[ pathname.split("/")[1]] || Layout;

const json = await getPosts(
  hostname,
  pathname !== "/" ? pathname : "",
  searchParams.get("page") || "1"
);

---

<!DOCTYPE html>
<html lang="en">
  <AppLayout json={pathname !== "/"
    ? ListPost.filter((item) => item?.slug === pathname.split("/")[1])
    : json} />
</html>
