---
import Container from "../layouts/layout-1/Container.astro";

---



<Container title="Contact Us"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}>

    <div>
        
    </div>
</Container>