<svg
  xmlns="http://www.w3.org/2000/svg"
  width="18"
  height="18"
  viewBox="0 0 48 48"
  ><mask id="ipSMailEdit0"
    ><g
      fill="none"
      stroke="#fff"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="4"
      ><path d="M44 24V9H4v30h20"></path><path
        fill="#fff"
        d="m35 39l8-7l-4-4l-8 7v4h4Z"></path><path d="m4 9l20 15L44 9"
      ></path></g
    ></mask
  ><path fill="currentColor" d="M0 0h48v48H0z" mask="url(#ipSMailEdit0)"
  ></path></svg
>
